#borde-exterior {
    width: 44em;
    height: 20em;
    background-color: transparent;
    /* border: 0.5em solid #454444; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#izquierda {
    width: 10em;
    height: 20em;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    background: linear-gradient(to left, #686968f9 10%, #69686896 90%);
    float: left;
    border-top-style: double;
    border-left-style: double;
    border-bottom-style: double;
}

#centro {
    width: 24em;
    height: 20em;
    background-color: rgb(110, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style: double;
    border-bottom-style: double;
}

#pantalla {
    display: flex;
    width: 24em;
    height: 19em;
    background-color: rgb(91, 91, 91);
    border-radius: 5%;
    border-style: double;
}

#marcoancho {
    width: 23.2em;
    height: 18.5em;
    margin-top: 0.25em;
    margin-left: 0.21em;
    border-radius: 5%;
    background: linear-gradient(to left, #060606b9 30%, #afaeae5e 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagen {
    width: 22em;
    height: 17em;
    background-color: aqua;
    justify-content: center;
    background-image: url(./imagenes/fotojuego.png);
    background-size: cover;
}

#derecho {
    width: 10em;
    height: 20em;
    background-color: rgb(110, 110, 110);
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    background: linear-gradient(to right, #686968f9 10%, #69686896 90%);
    float: right;
    border-right-style: double;
    border-bottom-style: double;
    border-top-style: double;
}

#lado-izquierdo {
    display: flex;
    flex-direction: column;
    width: 9em;
    height: 19em;
    background-color: rgb(237, 237, 80);
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8%;
    border-style: groove;
    border-color: #2f2f2f;
    margin-left: 3%;
    margin-top: 4%;
}

#punto {
    width: 0.2em;
    height: 0.2em;
    margin-left: 7.5em;
    margin-top: 2em;
    border-radius: 50%;
    background-color: black;
}

#cursor {
    width: 6.9em;
    height: 6.9em;
    background-color: rgb(237, 237, 80);
    margin-left: 1em;
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#cuadrado1 {
    background-color: rgb(237, 237, 80);
    width: 2.3em;
    height: 2.3em;
}

#cuadrado2 {
    background-color: dimgray;
    width: 2.3em;
    height: 2.3em;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuadrado3 {
    background-color: rgb(237, 237, 80);
    width: 2.3em;
    height: 2.3em;
}

#cuadrado4 {
    background-color: dimgray;
    width: 2.3em;
    height: 2.3em;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom: #2f2f2f .2em double;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuadrado5 {
    background-color: dimgray;
    width: 2.3em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;   
}

#cuadrado6 {
    background-color: dimgray;
    width: 2.3em;
    height: 2.3em;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom: #2f2f2f 0.2em double;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuadrado7 {
    background-color: rgb(237, 237, 80);
    width: 2.3em;
    height: 2.3em;
}

#cuadrado8 {
    background-color: dimgray;
    width: 2.3em;
    height: 2.3em;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #2f2f2f 0.2em double;
}

#cuadrado9 {
    background-color: rgb(237, 237, 80);
    width: 2.3em;
    height: 2.3em;
}

#parlante {
    width: 5em;
    height: 5em;
    background-color: rgb(164, 177, 177);
    margin-left: 2em;
    margin-top: 3em;
    border-radius: 50%;
    background-image: url(./imagenes/parlante.jpg);
    background-size: cover;
}

#lado-derecho {
    display: flex;
    flex-direction: column;
    width: 9em;
    height: 19em;
    background-color: rgb(238, 54, 51);
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-style: groove;
    border-color: #2f2f2f;
    margin-left: 2%;
    margin-top: 4%;
}

#superior {
    margin-top: 0.3em;
    margin-left: 0.6em;
    display: flex;
    flex-direction: column;
}

#home {
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
}

#boton-home {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    margin-left: 3%;
    border: 0.1em solid rgb(126, 121, 121);
}

#medio {
    width: 8em;
    height: 8em;
    background-color: rgb(238, 54, 51);
    margin-left: 0.5em;
    margin-top: 0.4em;
    display: grid;
    grid-template-columns: 1fr 3em 1fr;
    grid-template-rows: 1fr 3em 1fr;
    justify-items: center;
    justify-items: center;
    align-items: center;
}

#boton-x {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 0.1px solid rgb(118, 116, 116);
    line-height: 30px;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 0px 10px rgba(208, 204, 204, 0.893);
}

#x,
#y,
#b,
#a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}

#boton-y {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 0.1px solid rgb(118, 116, 116);
    line-height: 30px;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 0px 10px rgba(208, 204, 204, 0.893);
}

#boton-a {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 0.1px solid rgb(118, 116, 116);
    line-height: 30px;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 0px 10px rgba(208, 204, 204, 0.893);
}

#boton-b {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 0.1px solid rgb(118, 116, 116);
    line-height: 30px;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 0px 10px rgba(208, 204, 204, 0.893);
}

#inferior {
    width: 8em;
    height: 3em;
    background-color: rgb(238, 54, 51);
    margin-left: 0.5em;
    margin-top: 3em;
    display: flex;
    justify-content: center
}

#boton-izq {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 0.1em solid rgb(126, 121, 121);
    line-height: 30px;
    display: flex;
}

#boton-der {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: rgb(54, 52, 52);
    border: 0.1em solid rgb(126, 121, 121);
    line-height: 30px;
    margin-left: 25%;
    display: flex;
}

#select {
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: -50%;
    margin-top: 7%;
}

#sp {
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 35%;
    margin-top: 9%;
}